version: "3.7"
services:
  web:
    build: ./api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./api/:/usr/src/app/
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - SECRET_KEY=dbaa1_i7%*3r9-=z-+_mz4r-!qeed@(-a_r(g@k8jo8y3r27%m
      - DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
      - DJANGO_SETTINGS_MODULE= 'RMDP_api.settings'
    depends_on:
      - redis
    networks:
      - rmdp_api
  mongodb:
        image: mongo:latest
        container_name: mongo-server
        environment:
                 # provide your credentials here
                 - MONGO_INITDB_ROOT_USERNAME=mongoadmin
                 - MONGO_INITDB_ROOT_PASSWORD=mypass
        ports:
           - "27017:27017"
        volumes:
           # to make a persistent database surviving docker restarts
           - mongodb-volume:/data/db
           # mongodump'ed data goes here
           - ./mongo-seed-data:/data/mongo-seed-data
           # script to start the actual import (besides other custom things
           - ./mongodb-scripts:/docker-entrypoint-initdb.d
        networks:
          - rmdp_api
  mongo-express:
    container_name: mongo-express
    image: mongo-express
    links:
        - mongodb
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_USERNAME: mongoadmin
      ME_CONFIG_BASICAUTH_PASSWORD: mypass
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongoadmin
      ME_CONFIG_MONGODB_ADMINPASSWORD: mypass
    ports:
      - '8081:8081'
    networks:
      - rmdp_api
    depends_on:
      - mongodb

  redis:
    container_name: redis
    image: redis:latest
    command: ["redis-server", "--bind", "redis", "--port", "6379"]
    ports:
        - "6379:6379"
    volumes:
      - './conf/redis/redis.conf:/tmp/redis.conf'
    networks:
      - rmdp_api
  celery:
    build: ./api
    command: celery -A RMDP_api worker -l info
    volumes:
      - ./api/:/usr/src/app/
    environment:
      DEBUG: 1
      SECRET_KEY: dbaa1_i7%*3r9-=z-+_mz4r-!qeed@(-a_r(g@k8jo8y3r27%m
      DJANGO_ALLOWED_HOSTS: localhost 127.0.0.1 [::1]
      DJANGO_SETTINGS_MODULE: 'RMDP_api.settings'
    depends_on:
      - redis
      - mongodb
    networks:
      - rmdp_api
  celery-beat:
    build: ./api
    command: celery -A RMDP_api beat -l info
    volumes:
      - ./api/:/usr/src/app/
    environment:
      DEBUG: 1
      SECRET_KEY: dbaa1_i7%*3r9-=z-+_mz4r-!qeed@(-a_r(g@k8jo8y3r27%m
      DJANGO_ALLOWED_HOSTS: localhost 127.0.0.1 [::1]
      DJANGO_SETTINGS_MODULE: 'RMDP_api.settings'
    depends_on:
      - redis
    networks:
      - rmdp_api
  monitor:
      build: ./api
      ports:
        - "5555:5555"
      entrypoint: flower
      command: -A RMDP_api --port=5555 --broker=redis://redis:6379/0
      environment:
        DEBUG: 1
        DJANGO_SETTINGS_MODULE: 'RMDP_api.settings'
      depends_on:
        - redis
      volumes: [ './api:/queue' ]
      networks:
        - rmdp_api
networks:
    rmdp_api:
      driver: bridge
volumes:
        mongodb-volume:
        redisdata: